<p id="notice"><%= notice %></p>

<h1>Rugby World Cup Host Countries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total attendance</th>
      <th>Matches</th>
      <th>Stadium capacity</th>
      <th>Held at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rugby_world_cup_host_countries.each do |rugby_world_cup_host_country| %>
      <tr>
        <td><%= rugby_world_cup_host_country.name %></td>
        <td><%= rugby_world_cup_host_country.total_attendance %></td>
        <td><%= rugby_world_cup_host_country.matches %></td>
        <td><%= rugby_world_cup_host_country.stadium_capacity %></td>
        <td><%= rugby_world_cup_host_country.held_at %></td>
        <td><%= link_to 'Show', rugby_world_cup_host_country %></td>
        <td><%= link_to 'Edit', edit_rugby_world_cup_host_country_path(rugby_world_cup_host_country) %></td>
        <td><%= link_to 'Destroy', rugby_world_cup_host_country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rugby World Cup Host Country', new_rugby_world_cup_host_country_path %>
